* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	user-select: none;
	font-family: sans-serif;
}

#container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

#root {
	width: 100%;
	height: calc(100% - 3rem);
	background: #1f1f1f;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

header {
	height: 3rem;
	width: 100%;
	background: #1f1f1f;
	display: grid;
	place-items: center;
	color: #dbdbdb;
}

header ul {
	display: flex;
	list-style: none;

}

header ul li {
	display: grid;
	place-items: center;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 0.5rem;
}

header ul li:hover {
	background: #2c2c2c;
}


#container img {
	max-height: 100%;
	max-width: 100%;
}